//////////sidebar///////////
.full-sidebar{
  @extend %relative;
  @extend %inlineblock;
  margin-left: -5%;
  // margin-left: -2%;
  width: $extra-sidebar-width;
  z-index: 20;
  .sidebar{
    width: 17vw;
    // width: 32vw;
    margin-left: 5%;
  }
  i{
    // @extend %inlineblock;
    @extend %floatleft;
  }
  p{
    @extend %inlineblock;
    @extend %floatleft;
    @extend %fullheight;
    margin: 10px 0px 0px 0px;
    line-height: 190%;
    font-size: map-get($type-scale, scale8);
  }
  ul p{
    @extend %colorwhite;
  }
  ul:first-child p{
    color:$sidebar-textcolor-grey;
  }

}
.sidebar{
  @extend %relative;
  @extend %floatleft;
  width:$sidebar-width;
  background-color: $sidebar-backgroundcolor;
  a{
    @extend %inlineblock;
    @extend %fullheight;
    @extend %fullwidth;
  }
  &:last-child{
    @extend %absolute;
    @extend %fullwidth;
    @extend %fullheight;
    & i{
      width: map-get($widths, sidebar-open-icon-width);
    }
  }

  li{
    @extend %menusize;

    &.full-kowloon{
      background-image: $kowloons;
      background-position: 40.5% 60%;
      background-size: 138%;
      width:  map-get($widths, bottom-img);
      margin: 0% 10% 0% 10%;
    }
  }
  .line{
    @include margin(1.4vw 0px 1.4vw 7.5%);
    width: map-get($widths, sidebar-open-line-width);
    height: map-get($heights, sidebar-line);
    border-bottom: 2px solid $content-backgroundcolor;
  }

}
.menu{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 100% 41%;
  background-size: 787%;

}
.search{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 14% 41%;
  background-size: 772%;
}
.about-icon{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 71.5% 17%;
  background-size: 667%;
}
.ask{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 0% 41%;
  background-size: 772%;
}

.dog{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 28% 41%;
  background-size: 772%;
  &.active-dog,&:hover{
    background-position: 59.2% 71%;
    background-size: 508%;

  }
}

.cat{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 85.5% 41%;
  background-size: 772%;
  &:hover,&.active-cat{
    background-position: 77.8% 70.8%;
    background-size: 508%;
  }
}
.fish{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 57% 41%;
  background-size: 772%;
  &:hover,&.active-fish{
    background-position: 37.4% 70.5%;
    background-size: 526%;
  }
}
.bird{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 71% 41%;
  background-size: 772%;
  &:hover,&.fish-bird{
    background-position: 97.2% 68.5%;
    background-size: 680%;
  }
}
.rats{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $icons;
  background-position: 42.5% 41%;
  background-size: 772%;
  &:hover,&.active-rats{
    background-position: 17.8% 71%;
    background-size: 570%;
  }
}
.kowloon-menu{
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  @extend %absolute;
  background-image: $kowloons;
  background-position: -10.5% 114%;
  background-size: 302%;
  bottom: 0px;
}

.searchactive{
    background-image: $icons;
    background-size: 1177% 861%;
    background-position: 34% 1%;
    margin-top: 2px;
}

.askactive{
  background-image: $icons;
  background-size: 1287% 891%;
  background-position: 45.5% 1%;
}
.hamburger{
  @extend %absolute;
  background-image: $icons;
  background-size: 1287% 891%;
  background-position: 97.5% 21%;
  width: 8.2vw;
  height: 8vw;
  z-index: 11;
  margin-left: 4%;
  margin-top: 3.1%;
}
