@charset 'utf-8';
//Testdata///
$testcolor : rgb(228, 10, 10);
$total: 3;
$step: 360deg / $total;
// div{
//   background-color: $testcolor;
// }
// @for $i from 1 through $total {
//   div:nth-child(#{$i}) {
//     background: adjust-hue(blue, $i * $step);
//    }
// }

/////////fonts ////////
@font-face {
font-family: ChoplinLight;
src: url("/fonts/3290D7_0_0.eot") format("eot"),
     url("/fonts/3290D7_0_0.ttf") format("ttf"),
     url("/fonts/3290D7_0_0.woff") format("woff"),
     url("/fonts/3290D7_0_0.woff2") format("woff2");
}
@font-face {
font-family: ChoplinMedium;
src: url("/fonts/3290DE_0_0.eot") format("eot"),
     url("/fonts/3290DE_0_0.ttf") format("ttf"),
     url("/fonts/3290DE_0_0.woff") format("woff"),
     url("/fonts/3290DE_0_0.woff2") format("woff2");
}
///////// variables //////////

//divs
$sidebar-width: 4.694419840566874%;
$extra-sidebar-width: 17.116917626217894%;
$header-height: 36.6vw;
$main-width: 95.30558015943313%;


//colors
$sidebar-backgroundcolor: #323232;
$content-backgroundcolor: #454545;
$content-textcolor: #cecece;
$cathegory-border-color: #616161;
$hot-item-tile-color: #565656;
$hot-item-tile-border-color: #717171;
$newsletter-form-color: #5f5f5f;
$newsletter-input-border-color: #9a9a9a;

//img
$header-img: url("/img/hond.png");
$menu-sprite-img: url("/img/menu-sprite.png");
$homepage-sprite-img: url("/img/homepagesprite.png");
$menu-burger-position: 100%;
$menu-search-position: 14.28%;
$menu-ask-position: 0%;
$menu-dog-position: 28.57%;
$menu-cat-position: 85.72%;
$menu-fish-position: 57.12%;
$menu-bird-position: 85.68%;

$menu-rat-position: 42.84%;
$menu-k-grey-img:  url("/img/K-grey.png");
$menu-kowloon-grey-img: url("/img/Kowloon.png");
$newsletter-image: url("/img/add-bg.jpg");

//groups
$type-scale: (
  intro: 1.05vw,               // small text lorem ipsum
  cathegory-small: 1vw,      // small + other animals
  cathegory-big: 1.4vw,      // cathegory text
  title: 2.95vw              // hot-items title
);

$heights: (
  sidebar-line: 0px,
  cathegory-line: 9%,
);

$widths: (
  sidebar-open-icon-width:27%,
  sidebar-open-line-width:85%,
  header-img-width:22.6%,
  cathegory-list-width:16.5%,
  cathegory-a-width: 99%,           // is voor left-border
  cathegory-img-width:80%,
  hot-items-list-width:24.2%,
  hot-item-img-width:96.6%,
);
///////////  mixin //////////////
@mixin margin($margin) { // top right bottom left
  margin: $margin;
}

///////////parameters//////////////
@import "parameters/parameters.scss";
/////////// features ///////////
.hidden{
  display: none;
}
//////////// Divs layout ////////////////

html{
  font-family: Arial;
}
body{
  @extend %nomargin;
  @extend %fullwidth;
  display: flex;
  table-layout: fixed;
}
.main{
  width: $main-width;
}
.main, .sidebar{
  display: table-cell;

}
.header{
  @extend %relative;
  @extend %floatleft;
  @extend %fullbackground;
  @extend %fullwidth;
  height: $header-height;
  background-image: $header-img;
}
.content{
  @extend %relative;
  @extend %floatleft;
  @extend %inlineblock;
  background-color: $content-backgroundcolor;
  padding:42px 10.5% 7.5% 10.5%;
  & div{
    @extend %centertext;
    color: $content-textcolor;

  }
}
/////////// ul /////////////////
.sidebar ul, .catergory-content{
  @extend %nopadding;
  @extend %nomargin;
  @extend %nostyle-ul;
}
//////////sidebar///////////
.full-sidebar{
  @extend %absolute;
  width: $extra-sidebar-width;
  z-index: 1;
}
.sidebar{
  @extend %relative;
  @extend %floatleft;
  width:$sidebar-width;
  background-color: $sidebar-backgroundcolor;
  &:last-child{
    @extend %absolute;
    @extend %fullwidth;
    @extend %fullheight;
    & a{
      width: map-get($widths, sidebar-open-icon-width);
    }
  }

    li{
      @extend %menusize;
    }
    .line{
      @include margin(1.4vw 0px 1.4vw 7.5%);
      width: map-get($widths, sidebar-open-line-width);
      height: map-get($heights, sidebar-line);
      border-bottom: 2px solid $content-backgroundcolor;
    }

}
.menu{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-burger-position;

}
.search{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-search-position;
  margin-top: 10px;
}
.ask{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-ask-position;
}

.dog{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-dog-position;
}
.cat{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-cat-position;
}
.fish{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-fish-position;
}
.bird{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-bird-position;
}
.rats{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  background-image: $menu-sprite-img;
  background-position: $menu-rat-position;
}
.kowloon-menu{
  @extend %fullwidth;
  @extend %fullheight;
  @extend %block;
  @extend %center-background-image;
  @extend %fullbackground;
  @extend %absolute;
  background-image: $menu-k-grey-img;
  bottom: 0px;
}
.full-kowloon{
  background-image: $menu-kowloon-grey-img;
}
/////////// Header  ///////////
.header img{
  @extend %auto-margin;
  @extend %block;
  margin-top: 3%;
  width: map-get($widths, header-img-width);
}
/////////// Content ///////////
//////////text /////////
.text{
  @include margin(0px 10% 0px 10%);
  font-size: map-get($type-scale, intro);
}
//////// cathegory //////
.catergory-content{
  @extend %fullwidth;
  @extend %inlineblock;
  height: 11vw;
  margin-top: 1%;
  li{
    @extend %floatleft;
    @extend %block;
    @extend %fullheight;
    width: map-get($widths, cathegory-list-width);
    a{
      height: 62%;
      @extend %fullwidth;
      @extend %fullheight;
      @extend %block;
      @extend %fullbackground;
      @extend %floatleft;
      background-image: $homepage-sprite-img;
    }
    img{
      max-width: map-get($widths, cathegory-img-width);
    }
    p{
      @extend %centertext;
      @extend %colorwhite;
      @extend %floatleft;
      @extend %fullwidth;
      font-size: map-get($type-scale, cathegory-big);
      font-family: ChoplinLight;
      text-align: center;
      padding-top: 50%;
      .small-text{
        @include margin(0px 20% 0px 20%);
      }
      &.other-text, &.small-p{
        font-size: map-get($type-scale, cathegory-small);
      }
      &.other-text{
        margin-top: 12%;
      }
    }
    .cathegory-line{
      @extend %inlineblock;
      @extend %absolute;
       border-left: 1px solid $cathegory-border-color;
       margin-top: 2%;
       height: map-get($heights, cathegory-line);
    }

  }
}
.dog-content{
  background-position: 62%;
}
.cat-content{
  background-position: 82%;
}
.fish-content{
  background-position: 39%;
}
.bird-content{
  background-position: 104%;
}
.rat-content{
  background-position: 17%;
}
.other-content{
  background-position: -4%;
}
//////// hot-items ///////
.hot-items{
    @extend %inlineblock;
    @extend %fullwidth;
    margin-bottom: 3.3%;
  h1{
    @extend %colorwhite;
    @extend %alignleft;
    @extend %choplinmedium;
    font-size: map-get($type-scale, title);
    font-weight:lighter;
    margin-bottom: 1%;
  }
  .visit{
    @extend %colorwhite;
    @extend %choplinmedium;
    @extend %floatright;
    margin-right: 2%;
  }
}

.hot-item-list{
  @extend %nostyle-ul;
  @extend %floatleft;
  @extend %inlineblock;
  @extend %fullwidth;
  @extend %nopadding;
  height: 15vw;
  margin-top: 2%;
  li:last-of-type{
    margin-right: 0%;
  }
  li{
    @extend %inlineblock;
    @extend %center-background-image;
    @extend %fullbackground;
    @extend %floatleft;
    @extend %fullheight;
    width: map-get($widths, hot-items-list-width);
    margin-right: 0.5%;
    background-color: $hot-item-tile-color;
    border: 1px solid $hot-item-tile-border-color;

    img{
      margin-top: 2%;
      height: 80%;
      width: map-get($widths,   hot-item-img-width);
    }
    p{
      @extend %floatleft;
      @extend %alignleft;
      margin-top: 1.5%;
      font-size:1.2vw;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      font-weight: bold;
      .prijs{
        @extend %floatright;
        font-weight: normal;
      }
    }
  }
}
/////////// newsletter ////////
.newsletter{
  @extend %inlineblock;
  @extend %fullwidth;
  height: 14vw;
  div{
    @extend %floatleft;
    @extend %fullheight;
    &.news-img{
      @extend %fullbackground;
      width: 63%;
      background-image:$newsletter-image;
      h2{
        @extend %colorwhite;
        @extend %auto-margin;
        @extend %choplinmedium;
        font-weight: lighter;
        line-height: 100%;
        font-size: 3.1vw;
        margin-top: 5.8%;
        width: 60%;
      }
      h4{
        @extend %colorwhite;
        @extend %choplinlight;
        font-weight: bolder;
        font-size: 1.5vw;
        margin-bottom: 2%;
        margin-top: 5%;
      }
    }
    &.news-form{
      @extend %alignleft;
      @extend %fullheight;
      background-color:$newsletter-form-color;
      width: 33%;
      padding-left: 3%;

      h3{
        @extend %colorwhite;
        font-weight: lighter;
        font-size: 1.4vw;
        margin-top: 12%;
        margin-bottom: 1%;
      }
      p{
        font-size: 0.97vw;
        margin-top: 1%;
        margin-bottom: 6%;
      }
      input{
        font-size: 1.1vw;
        padding: 4%;
        margin-bottom: 5%;
        @extend %floatleft;
        &:first-of-type{
          border: 2px solid $newsletter-input-border-color;
        }
        &:last-of-type{
          @extend %colorwhite;
          background-color: $sidebar-backgroundcolor;
          padding: 4.7% 4% 4.7% 4%;
          border: 0px;

        }
      }

    }
  }
}
