@font-face {
  font-family: ChoplinLight;
  src: url("/fonts/3290D7_0_0.eot") format("eot"), url("/fonts/3290D7_0_0.ttf") format("ttf"), url("/fonts/3290D7_0_0.woff") format("woff"), url("/fonts/3290D7_0_0.woff2") format("woff2"); }
@font-face {
  font-family: ChoplinMedium;
  src: url("/fonts/3290DE_0_0.eot") format("eot"), url("/fonts/3290DE_0_0.ttf") format("ttf"), url("/fonts/3290DE_0_0.woff") format("woff"), url("/fonts/3290DE_0_0.woff2") format("woff2"); }
.content, .sidebar {
  position: relative; }

.full-sidebar, .sidebar:last-child, .kowloon-menu, .catergory-content li .cathegory-line {
  position: absolute; }

.menu, .search, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .catergory-content li, .catergory-content li a {
  display: block; }

.content, .full-sidebar p, .sidebar a, .catergory-content, .catergory-content li .cathegory-line, .hot-items, .hot-item-list, .hot-item-list li, .newsletter {
  display: inline-block; }

.content, .full-sidebar i, .full-sidebar p, .sidebar, .catergory-content li, .catergory-content li a, .catergory-content li p, .hot-item-list, .hot-item-list li, .hot-item-list li p, .newsletter div, .newsletter div.news-form input {
  float: left; }

.hot-items .visit, .hot-item-list li p .prijs {
  float: right; }

body, .sidebar ul, .catergory-content {
  margin: 0px; }

.newsletter div.news-img h2 {
  margin: auto; }

.sidebar ul, .catergory-content, .hot-item-list {
  padding: 0px; }

.full-sidebar p, .sidebar a, .sidebar:last-child, .menu, .search, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .catergory-content li, .catergory-content li a, .hot-item-list li, .hot-item-list li .overlay, .newsletter div, .newsletter div.news-form {
  height: 100%; }

body, .sidebar a, .sidebar:last-child, .menu, .search, .ask, .dog, .cat, .fish, .bird, .rats, .catergory-content, .catergory-content li a, .catergory-content li p, .hot-items, .hot-item-list, .hot-item-list li .overlay, .newsletter {
  width: 100%; }

.sidebar li {
  width: 100%;
  height: 4vw; }

.content div, .catergory-content li p, .hot-item-list li .overlay p {
  text-align: center; }

.hot-items h1, .hot-item-list li p, .newsletter div.news-form {
  text-align: left; }

.catergory-content li p, .hot-items h1, .hot-items .visit, .hot-item-list li .overlay p, .newsletter div.news-img h2, .newsletter div.news-img h4, .newsletter div.news-form h3, .newsletter div.news-form input:last-of-type {
  color: white; }

.menu, .search, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .catergory-content li a, .hot-item-list li, .hot-item-list li .img, .newsletter div.news-img {
  background-repeat: no-repeat;
  background-size: cover; }

.menu, .search, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .hot-item-list li {
  background-position: center; }

.sidebar ul, .catergory-content, .hot-item-list {
  list-style: none; }

.hot-items h1, .hot-items .visit, .newsletter div.news-img h2 {
  font-family: ChoplinMedium; }

.newsletter div.news-img h4 {
  font-family: Choplinlight; }

.hidden {
  display: none; }

html {
  font-family: Arial; }

body {
  display: flex;
  table-layout: fixed; }

.main {
  width: 95.30558%; }

.main, .sidebar {
  display: table-cell; }

.content {
  background-color: #454545;
  padding: 42px 10.5% 7.5% 10.5%; }
  .content div {
    color: #cecece; }

.full-sidebar {
  width: 17.11692%;
  z-index: 20; }
  .full-sidebar p {
    line-height: 400%; }

.sidebar {
  width: 4.69442%;
  background-color: #323232; }
  .sidebar:last-child i {
    width: 27%; }
  .sidebar li.full-kowloon {
    background-image: url("/img/Kowloon.png");
    width: 80%;
    margin: 0% 10% 0% 10%;
    background-size: 100%; }
  .sidebar .line {
    margin: 1.4vw 0px 1.4vw 7.5%;
    width: 85%;
    height: 0px;
    border-bottom: 2px solid #454545; }

.menu {
  background-image: url("/img/menu-sprite.png");
  background-position: 100%; }

.search {
  background-image: url("/img/menu-sprite.png");
  background-position: 14.28%;
  margin-top: 10px; }

.ask {
  background-image: url("/img/menu-sprite.png");
  background-position: 0%; }

.dog {
  background-image: url("/img/menu-sprite.png");
  background-position: 28.57%; }

.cat {
  background-image: url("/img/menu-sprite.png");
  background-position: 85.72%; }

.fish {
  background-image: url("/img/menu-sprite.png");
  background-position: 57.12%; }

.bird {
  background-image: url("/img/menu-sprite.png");
  background-position: 85.68%; }

.rats {
  background-image: url("/img/menu-sprite.png");
  background-position: 42.84%; }

.kowloon-menu {
  background-image: url("/img/K-grey.png");
  bottom: 0px; }

.text {
  margin: 0px 10% 0px 10%;
  font-size: 1.05vw; }

.catergory-content {
  height: 11vw;
  margin-top: 1%; }
  .catergory-content li {
    width: 16.5%; }
    .catergory-content li a {
      height: 62%;
      background-image: url("/img/homepagesprite.png"); }
    .catergory-content li img {
      max-width: 80%; }
    .catergory-content li p {
      font-size: 1.4vw;
      font-family: ChoplinLight;
      text-align: center;
      padding-top: 50%; }
      .catergory-content li p .small-text {
        margin: 0px 20% 0px 20%; }
      .catergory-content li p.other-text, .catergory-content li p.small-p {
        font-size: 1vw; }
      .catergory-content li p.other-text {
        margin-top: 12%; }
    .catergory-content li .cathegory-line {
      border-left: 1px solid #616161;
      margin-top: 2%;
      height: 9%; }

.dog-content {
  background-position: 62%; }

.cat-content {
  background-position: 82%; }

.fish-content {
  background-position: 39%; }

.bird-content {
  background-position: 104%; }

.rat-content {
  background-position: 17%; }

.other-content {
  background-position: -4%; }

.hot-items {
  margin-bottom: 3.3%; }
  .hot-items h1 {
    font-size: 2.95vw;
    font-weight: lighter;
    margin-bottom: 1%; }
  .hot-items .visit {
    margin-right: 1%;
    font-size: 1.3vw; }

.hot-item-list {
  height: 15vw;
  margin-top: 2%; }
  .hot-item-list li:last-of-type {
    margin-right: 0%; }
  .hot-item-list li {
    width: 24.2%;
    margin-right: 0.5%;
    background-color: #565656;
    border: 1px solid #717171; }
    .hot-item-list li .img {
      width: 97%;
      height: 80%;
      margin-left: 1.5%;
      margin-top: 2%;
      background-image: url(/img/dogmat.jpg); }
    .hot-item-list li .overlay {
      background-color: #ff6f9e;
      opacity: 0; }
      .hot-item-list li .overlay img {
        margin-top: 20%;
        width: 33%; }
      .hot-item-list li .overlay p {
        font-weight: lighter;
        font-size: 1.6vw; }
    .hot-item-list li .overlay:hover {
      opacity: 0.8; }
    .hot-item-list li p {
      margin-top: 1.5%;
      font-size: 1.2vw;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      font-weight: bold; }
      .hot-item-list li p .prijs {
        font-weight: normal; }

.newsletter {
  height: 14vw; }
  .newsletter div.news-img {
    width: 63%;
    background-image: url("/img/add-bg.jpg"); }
    .newsletter div.news-img h2 {
      font-weight: lighter;
      line-height: 100%;
      font-size: 3.1vw;
      margin-top: 5.8%;
      width: 60%; }
    .newsletter div.news-img h4 {
      font-weight: bolder;
      font-size: 1.5vw;
      margin-bottom: 2%;
      margin-top: 5%; }
  .newsletter div.news-form {
    background-color: #5f5f5f;
    width: 33%;
    padding-left: 3%; }
    .newsletter div.news-form h3 {
      font-weight: lighter;
      font-size: 1.4vw;
      margin-top: 12%;
      margin-bottom: 1%; }
    .newsletter div.news-form p {
      font-size: 0.97vw;
      margin-top: 1%;
      margin-bottom: 6%; }
    .newsletter div.news-form input {
      font-size: 1.1vw;
      padding: 4%;
      margin-bottom: 5%;
      width: 64%; }
      .newsletter div.news-form input:first-of-type {
        border: 2px solid #9a9a9a; }
      .newsletter div.news-form input:last-of-type {
        width: 15%;
        background-color: #323232;
        padding: 4.7% 4% 4.7% 4%;
        border: 0px; }

/*# sourceMappingURL=main.css.map */
