@font-face {
  font-family: ChoplinLight;
  src: url("/fonts/3290D7_0_0.eot") format("eot"), url("/fonts/3290D7_0_0.ttf") format("ttf"), url("/fonts/3290D7_0_0.woff") format("woff"), url("/fonts/3290D7_0_0.woff2") format("woff2");
}

@font-face {
  font-family: ChoplinMedium;
  src: url("/fonts/3290DE_0_0.eot") format("eot"), url("/fonts/3290DE_0_0.ttf") format("ttf"), url("/fonts/3290DE_0_0.woff") format("woff"), url("/fonts/3290DE_0_0.woff2") format("woff2");
}

.content, .full-sidebar, .sidebar {
  position: relative;
}

.sidebar:last-child, .kowloon-menu, .hamburger, .catergory-content li .cathegory-line, .hot-item-list .stack-list .stack .stack-icon, .item-colors, .price-input span, .productdetail .product .imgview .bigtile .plus-icon, .productdetail .product .imgview .smalltile .tile-overlay, .productdetail .other-products .item-slider .prev, .productdetail .other-products .item-slider .next, .searchdiv label, .searchdiv .icon-enter, .cookie .dogbone {
  position: absolute;
}

.menu, .search, .about-icon, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .catergory-content li, .catergory-content li a, .hot-item-list li .overlay .product-icon, .hot-item-list .stack-list .stack .stack-icon, nav .circle, .price-input span, .productdetail .product .imgview .bigtile .plus-icon, .productdetail .product .imgview .smalltile .tile-overlay, .productdetail .product .product-info .obligatory-icon .square, .productdetail .product .product-info .obligatory-icon .circle, .productdetail .product .product-info .obligatory-icon .triangle, .bannerimg, .about .message label, .about .message input, .escbar a, .searchdiv label, .searchdiv .icon-enter, .resultword a .cross, .cookie .dogbone, .cookie .popup-cookie .escbut {
  display: block;
}

.content, .full-sidebar, .full-sidebar p, .sidebar a, .catergory-content, .catergory-content li .cathegory-line, .hot-items, .hot-item-list, .hot-item-list li, .newsletter, nav, .filterdiv .checkboxlist, .filterdiv .checkboxlist .checkbox, .filterdiv #slider, .filterdiv #slider2, .dash, .items .select, .items .select ul li, .items .select ul li a, .items .amountitems, .items .bigitem, .items .bigitem .bigtext .prijs, .productdetail .product, .productdetail .product .imgview, .productdetail .product .imgview .smalltile, .productdetail .product .product-info, .item-colors, .item-colors a, .FAQ .question, .FAQ .question .filterdiv, .productdetail .other-products .item-slider, .spec ul, .spec li, .about .message, .searchpage .advancedFilter .filter, .searchpage .advancedFilter .filterdiv, .searchpage .advancedFilter .filterdiv .pricefilter, .searchdiv, .resultword p {
  display: inline-block;
}

.content, .full-sidebar i, .full-sidebar p, .sidebar, .catergory-content li, .catergory-content li a, .catergory-content li p, .hot-item-list, .hot-item-list li, .hot-item-list li p, .newsletter div, .newsletter div.news-form input, nav img, nav a, nav .triangle, nav .circle, .filterdiv .checkboxlist .checkbox, .filterdiv .slider, .dash, .price-input, .productview .hot-items h1, .items .select, .productdetail .product .imgview, .productdetail .product .imgview .bigtile, .productdetail .product .imgview .smalltile, .productdetail .product .imgview .smalltile .img-overflow, .productdetail .product .imgview .smalltile p, .productdetail .product .product-info, .productdetail .product .product-info .obligatory-icon .square, .productdetail .product .product-info .obligatory-icon .circle, .productdetail .product .product-info .obligatory-icon .triangle, .item-colors a, .FAQ .question, .FAQ .question .filter, .FAQ .question .filterdiv, .spec ul, .spec li, .about .kowloon, .about .contact, .searchpage .advancedFilter, .searchpage .advancedFilter .filterdiv, .searchpage .advancedFilter .filterdiv .checkboxlist, .searchpage .advancedFilter .filterdiv .pricefilter, .escbar, .resultword a .cross, .cookie .dogbone {
  float: left;
}

.link, .hot-item-list li p .prijs, .items .amountitems p, .items .bigitem .bigtext input, .FAQ-page .escbar, .cookie .popup-cookie .escbut {
  float: right;
}

body, .sidebar ul, .catergory-content, .items .select ul, .productdetail .product .product-info h1, .productdetail .product .product-info h2, .productdetail .product .product-info h3 {
  margin: 0px;
}

.newsletter div.news-img h2 {
  margin: auto;
}

.sidebar ul, .catergory-content, .hot-item-list, .hot-item-list .stack-list div.corner2 {
  padding: 0px;
}

.main, .full-sidebar p, .sidebar a, .sidebar:last-child, .menu, .search, .about-icon, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .catergory-content li, .catergory-content li a, .hot-item-list li, .hot-item-list li .overlay, .newsletter div, .newsletter div.news-form, .items ul.hot-item-list, .productdetail .product .imgview {
  height: 100%;
}

body, .sidebar a, .sidebar:last-child, .menu, .search, .about-icon, .ask, .dog, .cat, .fish, .bird, .rats, .catergory-content, .catergory-content li a, .catergory-content li p, .hot-items, .hot-item-list, .hot-item-list li .overlay, .newsletter, nav, .filterdiv .checkboxlist, .filterdiv #slider, .filterdiv #slider2, .productview .hot-items h1, .items .select ul li, .productdetail .product, .productdetail .product .imgview .smalltile .img-overflow, .item-colors, .FAQ .question button, .spec ul, .bannerimg, .about .message, .searchpage .advancedFilter .filterdiv, .searchdiv input {
  width: 100%;
}

.sidebar li {
  width: 100%;
  height: 4vw;
}

.content div, .content .text p, .text p, .catergory-content li p, .hot-item-list li .overlay p, .newsletter div.news-img h2, .newsletter div.news-img h4, .productview ul.hot-item-list .overlay {
  text-align: center;
}

h1, h2, h3, h4, p, .hot-items h1, .hot-item-list li p, .newsletter div.news-form, nav, .productview div, .FAQ, .FAQ .question button, .about .contact, .about .message {
  text-align: left;
}

nav a {
  text-decoration: none;
}

h1, .link, .content div, .full-sidebar ul p, .catergory-content li p, .hot-items h1, .hot-item-list li .overlay p, .hot-item-list li p, .newsletter div.news-img h2, .newsletter div.news-img h4, .newsletter div.news-form h3, .newsletter div.news-form input:last-of-type, .filter, .items .bigitem .bigtext input, .about .message .formsubmit, .cookie .popup-cookie button {
  color: white;
}

.searchpage .advancedFilter .filter, .searchpage .advancedFilter h3, .resultword a {
  color: black;
}

.menu, .search, .about-icon, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .hot-item-list li, .newsletter div.news-img, .productdetail .other-products .item-slider .prev, .productdetail .other-products .item-slider .next {
  background-repeat: no-repeat;
  background-size: cover;
}

.menu, .search, .about-icon, .ask, .dog, .cat, .fish, .bird, .rats, .kowloon-menu, .hot-item-list li {
  background-position: center;
}

.sidebar ul, .catergory-content, .hot-item-list {
  list-style: none;
}

.filterdiv #slider, .filterdiv #slider2, .filterdiv #slider .ui-slider-handle, .filterdiv #slider2 .ui-slider-handle {
  border: none;
}

h1, .link, .hot-items h1, .newsletter div.news-img h2, .filter {
  font-family: ChoplinMedium;
}

.newsletter div.news-img h4, .about h2 {
  font-family: Choplinlight;
}

.about .message textarea, .searchpage .advancedFilter .filter, .searchpage .advancedFilter h3 {
  font-family: arial;
}

.hidden {
  display: none !important;
}

.closed {
  max-height: 0px !important;
}

.no-desktop {
  display: none;
}

.no-mobile {
  display: block;
}

.mobile-only {
  display: none;
}

.tablet-only {
  display: none;
}

html {
  font-family: Arial;
}

body {
  display: -webkit-box;
  display: flex;
  table-layout: fixed;
}

*:focus {
  outline: 0;
}

.main {
  width: 95.3055801594%;
}

.main, .sidebar {
  display: table-cell;
}

h1 {
  font-size: 2.9vw;
  font-weight: lighter;
  margin-bottom: 1%;
}

.link {
  margin-right: 1%;
  font-size: 1.3vw;
}

.content {
  background-color: #454545;
  padding: 42px 10.5% 7.5% 10.5%;
  width: 79%;
  height: 56.6%;
}

.content .text p, .content .icons p {
  color: #cecece;
}

.content .text p {
  line-height: 1.7vw;
}

.full-sidebar {
  margin-left: -5%;
  width: 17.1169176262%;
  z-index: 20;
}

.full-sidebar .sidebar {
  width: 17vw;
  margin-left: 5%;
}

.full-sidebar p {
  margin: 10px 0px 0px 0px;
  line-height: 190%;
  font-size: 1.8vw;
}

.full-sidebar ul:first-child p {
  color: #9f9f9f;
}

.sidebar {
  width: 4.6944198406%;
  background-color: #323232;
}

.sidebar:last-child i {
  width: 27%;
}

.sidebar li.full-kowloon {
  background-image: url("/img/kowloons.png");
  background-position: 40.5% 60%;
  background-size: 138%;
  width: 80%;
  margin: 0% 10% 0% 10%;
}

.sidebar .line {
  margin: 1.4vw 0px 1.4vw 7.5%;
  width: 85%;
  height: 0px;
  border-bottom: 2px solid #454545;
}

.menu {
  background-image: url("/img/icons.png");
  background-position: 100% 41%;
  background-size: 787%;
}

.search {
  background-image: url("/img/icons.png");
  background-position: 14% 41%;
  background-size: 772%;
}

.about-icon {
  background-image: url("/img/icons.png");
  background-position: 71.5% 17%;
  background-size: 667%;
}

.ask {
  background-image: url("/img/icons.png");
  background-position: 0% 41%;
  background-size: 772%;
}

.dog {
  background-image: url("/img/icons.png");
  background-position: 28% 41%;
  background-size: 772%;
}

.dog.active-dog, .dog:hover {
  background-position: 59.2% 71%;
  background-size: 508%;
}

.cat {
  background-image: url("/img/icons.png");
  background-position: 85.5% 41%;
  background-size: 772%;
}

.cat:hover, .cat.active-cat {
  background-position: 77.8% 70.8%;
  background-size: 508%;
}

.fish {
  background-image: url("/img/icons.png");
  background-position: 57% 41%;
  background-size: 772%;
}

.fish:hover, .fish.active-fish {
  background-position: 37.4% 70.5%;
  background-size: 526%;
}

.bird {
  background-image: url("/img/icons.png");
  background-position: 71% 41%;
  background-size: 772%;
}

.bird:hover, .bird.fish-bird {
  background-position: 97.2% 68.5%;
  background-size: 680%;
}

.rats {
  background-image: url("/img/icons.png");
  background-position: 42.5% 41%;
  background-size: 772%;
}

.rats:hover, .rats.active-rats {
  background-position: 17.8% 71%;
  background-size: 570%;
}

.kowloon-menu {
  background-image: url("/img/kowloons.png");
  background-position: -10.5% 114%;
  background-size: 302%;
  bottom: 0px;
}

.searchactive {
  background-image: url("/img/icons.png");
  background-size: 1177% 861%;
  background-position: 34% 1%;
  margin-top: 2px;
}

.askactive {
  background-image: url("/img/icons.png");
  background-size: 1287% 891%;
  background-position: 45.5% 1%;
}

.hamburger {
  background-image: url("/img/icons.png");
  background-size: 1287% 891%;
  background-position: 97.5% 21%;
  width: 8.2vw;
  height: 8vw;
  z-index: 11;
  margin-left: 4%;
  margin-top: 3.1%;
}

.text {
  margin: 0px 10% 0px 10%;
  font-size: 1vw;
}

.catergory-content {
  height: 11vw;
  margin-top: 1%;
}

.catergory-content li {
  width: 16.5%;
}

.catergory-content li a {
  background-image: url("/img/icons.png");
  height: 80%;
  background-size: 420%;
}

.catergory-content li img {
  max-width: 80%;
}

.catergory-content li p {
  font-size: 1.4vw;
  font-family: ChoplinLight;
  text-align: center;
  padding-top: 50%;
}

.catergory-content li p .small-text {
  margin: 0px 20% 0px 20%;
}

.catergory-content li p.other-text, .catergory-content li p.small-p {
  font-size: 1vw;
}

.catergory-content li p.other-text {
  margin-top: 12%;
}

.catergory-content li .cathegory-line {
  border-left: 1px solid #616161;
  margin-top: 2%;
  height: 9%;
}

.dog-content {
  background-position: 60% 70%;
}

.dog-content:hover {
  background-position: 60% 101.4%;
}

.cat-content {
  background-position: 81% 70%;
}

.cat-content:hover {
  background-position: 81% 101.4%;
}

.fish-content {
  background-position: 37% 70%;
}

.fish-content:hover {
  background-position: 37% 101.4%;
}

.bird-content {
  background-position: 103% 70%;
}

.bird-content:hover {
  background-position: 103% 101.4%;
}

.rat-content {
  background-position: 16% 70%;
}

.rat-content:hover {
  background-position: 16% 101.4%;
  background-repeat: no-repeat;
}

.other-content {
  background-position: 126% 71%;
}

.hot-items {
  margin-bottom: 3.3%;
}

.hot-items h1 {
  font-size: 2.9vw;
  font-weight: lighter;
  margin-bottom: 1%;
}

.hot-item-list {
  height: 15vw;
  margin-top: 2%;
}

.hot-item-list li:last-of-type {
  margin-right: 0%;
}

.hot-item-list li {
  width: 18vw;
  margin-right: 0.5%;
  background-color: #565656;
  border: 1px solid #717171;
}

.hot-item-list li .img-overflow {
  width: 97%;
  height: 12vw;
  margin: 1.5%;
}

.hot-item-list li .img-overflow img {
  margin-top: -106%;
  margin-left: -108%;
  width: 244%;
}

.hot-item-list li .overlay {
  background-color: #ff6f9e;
  padding-top: 18%;
  width: 97%;
  height: 8.8vw;
  margin: 1.5%;
  opacity: 0;
  margin-top: -68%;
}

.hot-item-list li .overlay .product-icon {
  margin: auto;
  width: 7vw;
  height: 5vw;
  background-size: 944% 750%;
  background-position: 132% 0%;
  background-image: url("/img/icons.png");
}

.hot-item-list li .overlay p {
  font-weight: lighter;
  font-size: 1.6vw;
}

.hot-item-list li .overlay:hover {
  opacity: 0.8;
}

.hot-item-list li p {
  margin-top: 1.5%;
  font-size: 1.2vw;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  font-weight: bold;
}

.hot-item-list li p .prijs {
  font-weight: normal;
}

.hot-item-list .stack-list {
  border: 0px;
  background-color: transparent;
}

.hot-item-list .stack-list .stack {
  height: 13.9vw;
  width: 17vw;
  margin-top: -77.9%;
  border: 1px solid #717171;
  background-color: #565656;
}

.hot-item-list .stack-list .stack .stack-icon {
  width: 2.5vw;
  height: 2.5vw;
  background-size: 1360% 780%;
  background-position: 14% 20%;
  margin-left: 0.5%;
  margin-top: 0.5%;
  background-image: url("/img/icons.png");
}

.hot-item-list .stack-list .stack .img-overflow {
  height: 78%;
}

.hot-item-list .stack-list .stack .overlay {
  margin-top: -66%;
  height: 56%;
}

.hot-item-list .stack-list .stack p {
  margin-top: 0%;
}

.hot-item-list .stack-list .corner {
  padding-right: 1%;
  height: 14.75vw;
  width: 88%;
  margin-left: 10%;
  background-color: #454545;
  border-top: 0.4vw solid #cfcfcf;
  border-right: 0.4vw solid #cfcfcf;
}

.hot-item-list .stack-list div.corner2 {
  margin-top: 1.1%;
  margin-left: -7%;
  width: 104.5%;
  background-color: #454545;
  height: 96.5%;
  border-top: 0.4vw solid #818181;
  border-right: 0.4vw solid #818181;
}

.img-overflow {
  overflow: hidden;
}

.item-colors {
  width: 31%;
  margin: 0.7% 0.7%;
}

.newsletter {
  height: 14vw;
}

.newsletter div.news-img {
  width: 63%;
  background-image: url("/img/add-bg.jpg");
}

.newsletter div.news-img h2 {
  font-weight: lighter;
  line-height: 100%;
  width: 70%;
  font-size: 3.1vw;
  margin-top: 5.8%;
}

.newsletter div.news-img h4 {
  font-weight: bolder;
  font-size: 1.5vw;
  margin-bottom: 2%;
  margin-top: 5%;
}

.newsletter div.news-form {
  background-color: #5f5f5f;
  width: 33%;
  padding-left: 3%;
}

.newsletter div.news-form h3 {
  font-weight: lighter;
  font-size: 1.4vw;
  margin-top: 12%;
  margin-bottom: 1%;
}

.newsletter div.news-form p {
  font-size: 1vw;
  margin-top: 1%;
  margin-bottom: 6%;
}

.newsletter div.news-form input {
  font-size: 1.1vw;
  padding: 4%;
  margin-bottom: 5%;
  width: 64%;
}

.newsletter div.news-form input:first-of-type {
  border: 2px solid #9a9a9a;
}

.newsletter div.news-form input:last-of-type {
  width: 15%;
  background-color: #323232;
  padding: 4.7% 4% 4.7% 4%;
  border: 0px;
}

nav {
  margin-top: 1.4%;
}

nav img {
  width: 2.7%;
  margin-right: 1%;
}

nav a, nav .triangle {
  margin-top: 0.1%;
}

nav a {
  color: #cecece;
  background-color: #323232;
  font-size: 1.1vw;
  padding: 0.4% 0.7% 0.4% 1%;
  border-top-right-radius: 8%;
  border-bottom-right-radius: 8%;
  margin-right: 0.5%;
}

nav a:first-of-type {
  padding-left: 0.2%;
  width: 5.2%;
}

nav a:hover .circle {
  background: #ff6f9e;
}

nav .circle {
  margin: 6.8% 8% 3% 2%;
  width: 0.7vw;
  height: 0.7vw;
  background: white;
  border-radius: 60%;
}

nav .triangle {
  width: 0;
  height: 0;
  border-top: 0.94vw solid transparent;
  border-right: 0.9vw solid #323232;
  border-bottom: 0.9vw solid transparent;
}

.filter {
  font-size: 1.2vw;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.filterdiv {
  max-height: 15vw;
  overflow: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  margin-left: 6%;
  margin-top: 1%;
}

.filterdiv input {
  border: 3px solid #9a9a9a;
  background: #FFF;
}

.filterdiv .checkboxlist {
  margin: 1% 0% 2% 0%;
}

.filterdiv .checkboxlist .checkbox {
  margin-right: 2%;
  min-width: 8%;
}

.filterdiv .checkboxlist label {
  font-size: 1.3vw;
  cursor: pointer;
  display: inline-block;
  width: 122%;
}

.filterdiv .checkboxlist input[type="checkbox"] {
  display: none;
}

.filterdiv .checkboxlist input[type="checkbox"] + label:before {
  background-color: white;
  border: 3px solid #9a9a9a;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  font-size: 0.8vw;
  background-size: 0.85vw 1vw;
  height: 1vw;
  margin: -0.5% 0.8vw 0 0;
  padding: 0;
  padding-top: 2%;
  vertical-align: top;
  width: 1.2vw;
}

.filterdiv .checkboxlist input[type="checkbox"]:checked + label:before {
  color: #666;
  content: "\2713";
  text-align: center;
}

.filterdiv .checkboxlist input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}

.filterdiv .slider {
  height: 1vw;
  width: 41%;
  margin-right: 6.5%;
  margin-top: 0.7%;
}

.filterdiv #slider, .filterdiv #slider2 {
  margin-left: 11px;
  background: rgba(255, 255, 255, 0);
}

.filterdiv #slider .ui-slider-range, .filterdiv #slider2 .ui-slider-range {
  top: 20%;
  height: 25%;
  background: #9a9a9a;
}

.filterdiv #slider .ui-widget-content, .filterdiv #slider2 .ui-widget-content {
  top: 16%;
  position: absolute;
  height: 20%;
  width: 100%;
}

.filterdiv #slider .ui-slider-handle, .filterdiv #slider2 .ui-slider-handle {
  background: white;
  top: -70%;
  border-radius: 50%;
  width: 1.5vw;
  height: 1.5vw;
}

.dash {
  padding: 1.8vw;
  margin-top: -2.3%;
}

.price-input span {
  margin-left: 1%;
  font-size: 1.1vw;
}

.price-input input {
  font-size: 1.1vw;
  font-family: arial;
  padding-left: 5vw;
  height: 3vw;
  margin-top: -8%;
  width: 6vw;
}

.price-input span, .price-input input {
  color: black;
}

.productview {
  padding-top: 2%;
}

.productview .stack-list .stack .overlay {
  margin-top: -67.5%;
  height: 56.5%;
}

.productview .hot-items {
  height: 100%;
}

.productview .hot-items .head {
  padding-bottom: 0.8%;
  border-bottom: 1px solid grey;
}

.productview .hot-items h2 {
  font-weight: normal;
  font-size: 1.5vw;
  margin: 0% 0% 0% 0%;
}

.productview .hot-items h2:last-of-type {
  margin: 0% 0% 1% 0%;
}

.productview .hot-items h1 {
  margin-top: 1.2%;
  margin-bottom: 0.5%;
}

@media (min-width: 1350px) and (max-width: 1500px) {
  #slider .ui-slider-handle {
    top: -60% !important;
  }
  #slider2 .ui-slider-handle {
    top: -75% !important;
  }
  .price-input span {
    margin-top: 0.3%;
  }
  .triangle:before {
    margin-top: -2.8%;
  }
}

@media (min-width: 1200px) and (max-width: 1350px) {
  #slider .ui-slider-handle {
    top: -50% !important;
  }
  #slider2 .ui-slider-handle {
    top: -65% !important;
  }
  .price-input span {
    margin-top: 0.35%;
  }
  .triangle:before {
    margin-top: -2.75%;
  }
}

@media (min-width: 1050px) and (max-width: 1200px) {
  #slider .ui-slider-handle {
    top: -40% !important;
  }
  #slider2 .ui-slider-handle {
    top: -55% !important;
  }
  .price-input span {
    margin-top: 0.4%;
  }
  .triangle:before {
    margin-top: -2.7%;
  }
}

@media (min-width: 900px) and (max-width: 1050px) {
  #slider .ui-slider-handle {
    top: -30% !important;
  }
  #slider2 .ui-slider-handle {
    top: -45% !important;
  }
  .price-input span {
    margin-top: 0.45%;
  }
  .triangle:before {
    margin-top: -2.65%;
  }
}

@media (min-width: 750px) and (max-width: 900px) {
  #slider .ui-slider-handle {
    top: -20% !important;
  }
  #slider2 .ui-slider-handle {
    top: -35% !important;
  }
  .price-input span {
    margin-top: 0.5%;
  }
  .triangle:before {
    margin-top: -2.6%;
  }
}

@media (min-width: 0) and (max-width: 750px) {
  #slider .ui-slider-handle {
    top: -10% !important;
  }
  #slider2 .ui-slider-handle {
    top: -25% !important;
  }
  .price-input span {
    margin-top: 0.55%;
  }
  .triangle:before {
    margin-top: -2.55%;
  }
}

.items .select {
  width: 50%;
  margin-top: 1%;
}

.items .select ul {
  position: absolute;
  background-color: white;
  color: #454545;
  padding: 0%;
  z-index: 5;
  width: 11.95vw;
}

.items .select ul li {
  height: 2.5vw;
  list-style: none;
  cursor: pointer;
}

.items .select ul li a {
  height: 40%;
  width: 74%;
  padding: 6% 13%;
  text-decoration: none;
  color: black;
  font-size: 0.8vw;
}

.items .select ul :hover {
  background-color: #e9e9e9;
}

.items .select select {
  -webkit-appearance: none;
  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;
  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: none;
  /*REMOVES BORDER*/
  color: #cecece;
  font-size: 1vw;
  padding: 0% 2%;
  width: 32%;
  height: 2.3vw;
  cursor: pointer;
  background: #616161 url(http://i.imgur.com/FYZaMwe.png) no-repeat;
  background-size: 4% 55%;
  background-position: 90% 37%;
}

.items .amountitems {
  width: 49%;
  margin-bottom: 0.8%;
}

.items .amountitems p:first-child {
  font-weight: bolder;
}

.items .amountitems p:last-child {
  margin-right: 1%;
  color: #cecece;
}

.items ul.hot-item-list:first-of-type {
  width: 50%;
}

.items ul.hot-item-list li {
  margin-bottom: 5%;
}

.items ul.hot-item-list li .img {
  height: 12vw;
}

.items ul.hot-item-list .corner {
  height: 15.3vw;
}

.items ul.hot-item-list .stack {
  height: 14.4vw;
  margin-top: -80.9%;
}

.items ul.hot-item-list #result_wrapper {
  display: inline-block;
  width: 75vw;
}

.items .bigitem {
  width: 49.7%;
  margin-top: 2%;
  background-color: #565656;
  border: 1px solid #717171;
}

.items .bigitem .img-overflow {
  margin: 1%;
  height: 21.1vw;
}

.items .bigitem .img-overflow img {
  width: 105%;
  margin-top: -16%;
  margin-left: -3%;
}

.items .bigitem .bigtext {
  margin-left: 5%;
}

.items .bigitem .bigtext h2 {
  font-weight: bolder;
  margin-bottom: 1%;
  font-size: 2.3vw;
}

.items .bigitem .bigtext p {
  margin-top: 0%;
  font-size: 1.1vw;
}

.items .bigitem .bigtext .prijs {
  font-size: 1.2vw;
  margin-top: 2%;
}

.items .bigitem .bigtext input {
  background-color: #ff6f9e;
  font-weight: bolder;
  font-size: 1vw;
  border: none;
  margin: 1%;
  padding: 2% 4%;
}

.productdetail {
  padding-top: 3.5%;
}

.productdetail .logo {
  width: 30%;
  margin-left: 32%;
  margin-bottom: 4%;
}

.productdetail .product {
  height: 30vw;
  margin-bottom: 1.5%;
}

.productdetail .product .imgview {
  background-color: #565656;
  border: 1px solid #717171;
  width: 49%;
  margin-right: 3%;
}

.productdetail .product .imgview .bigtile {
  margin: 1%;
  height: 20.5vw;
  width: 98%;
}

.productdetail .product .imgview .bigtile img {
  margin-top: -15%;
  width: 100%;
}

.productdetail .product .imgview .bigtile .plus-icon {
  background-image: url("/img/icons.png");
  margin-left: 34.9%;
  background-position: 99% 2%;
  background-size: 1110% 690%;
  width: 3vw;
  cursor: pointer;
  height: 3vw;
}

.productdetail .product .imgview .smalltile {
  width: 31%;
  margin-right: 2%;
}

.productdetail .product .imgview .smalltile .img-overflow {
  height: 6.7vw;
  margin: 4%;
  margin-bottom: 0px;
}

.productdetail .product .imgview .smalltile .img-overflow img {
  margin-top: -20%;
  height: 12vw;
  width: 100%;
}

.productdetail .product .imgview .smalltile .img-overflow.active {
  border: 2px solid white;
  height: 6.3vw;
  width: 98%;
}

.productdetail .product .imgview .smalltile .tile-overlay {
  width: 12%;
  margin: 0.5%;
  background-color: white;
  opacity: 0.38;
  height: 6.6vw;
  z-index: 10;
}

.productdetail .product .imgview .smalltile .tile-overlay.active-tile {
  opacity: 0;
}

.productdetail .product .imgview .smalltile p {
  margin-left: 5%;
  font-size: 0.9vw;
  margin-top: 2%;
  margin-bottom: 1%;
}

.productdetail .product .product-info {
  width: 47%;
}

.productdetail .product .product-info nav {
  height: 2vw;
}

.productdetail .product .product-info nav img {
  width: 5.7%;
}

.productdetail .product .product-info nav a:first-of-type {
  width: 11.2%;
}

.productdetail .product .product-info nav a {
  padding-top: 0.8%;
  height: 1.4vw;
}

.productdetail .product .product-info h2 {
  font-size: 2vw;
  margin-bottom: 2%;
}

.productdetail .product .product-info h3 {
  font-weight: 100;
  font-size: 1.5vw;
}

.productdetail .product .product-info h3:first-of-type {
  margin-bottom: 2%;
}

.productdetail .product .product-info p {
  font-size: 1.1vw;
  margin-top: 1%;
  margin-bottom: 9%;
}

.productdetail .product .product-info .item-colors {
  position: relative;
  float: left;
  width: 100%;
}

.productdetail .product .product-info .obligatory-icon .square, .productdetail .product .product-info .obligatory-icon .circle, .productdetail .product .product-info .obligatory-icon .triangle {
  background-color: #adadad;
  border: 1px solid black;
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 2%;
}

.productdetail .product .product-info .obligatory-icon .circle {
  border-radius: 50%;
}

.productdetail .product .product-info .obligatory-icon .triangle {
  background-color: transparent;
  height: 0px;
  width: 0px;
  border: 0px;
}

.productdetail .product .product-info .obligatory-icon .triangle:after,
.productdetail .product .product-info .obligatory-icon .triangle:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.productdetail .product .product-info .obligatory-icon .triangle:after {
  margin-top: -2.5%;
  border-color: transparent transparent #adadad transparent;
  border-width: 2.5vw 1.3vw;
}

.productdetail .product .product-info .obligatory-icon .triangle:before {
  margin-top: -2.8%;
  border-color: transparent transparent black transparent;
  border-width: 2.7vw 1.4vw;
  margin-left: -0.1%;
}

.item-colors {
  margin-bottom: 3%;
}

.item-colors a {
  height: 1vw;
  width: 1vw;
  margin-right: 1%;
  border-radius: 50%;
  border: 1px solid white;
}

.item-colors .color-black {
  background-color: #282828;
}

.item-colors .color-blue {
  background-color: #2d4aac;
}

.item-colors .color-white {
  background-color: white;
}

.FAQ h1 {
  font-size: 1.6vw;
  margin-top: 2.5%;
  margin-bottom: 2%;
}

.FAQ button {
  font-size: 1.5vw;
  font-weight: bold;
  font-family: arial;
  margin-top: 0.6%;
  margin-bottom: 1.2%;
}

.FAQ .question {
  width: 98%;
  background-color: #717171;
  padding: 1%;
  padding-bottom: 0px;
  margin-bottom: 1%;
}

.FAQ .question button:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -1.5%;
  border-color: white transparent transparent transparent;
  right: 11vw;
  border-width: 1vw 0.8vw;
}

.FAQ .question button.point-right:after {
  border-color: transparent transparent  transparent white;
  border-width: 0.8vw  1vw;
  right: 10.4vw;
  margin-top: -2%;
}

.FAQ .question .filterdiv {
  margin: 0px 0px 0px 49px;
}

.FAQ .question .filterdiv p {
  font-size: 0.9vw;
  margin-top: 0px;
}

.FAQ .icon-enter {
  margin-left: 42%;
}

.productdetail .other-products h1 {
  font-size: 1.6vw;
  margin-top: 4.5%;
}

.productdetail .other-products .item-slider {
  overflow: hidden;
}

.productdetail .other-products .item-slider .hot-item-list {
  width: 3000%;
  height: 11vw;
  margin-top: 1%;
}

.productdetail .other-products .item-slider .hot-item-list li {
  width: 16vw;
  margin-right: 0.5vw;
}

.productdetail .other-products .item-slider .hot-item-list li .img-overflow {
  height: 10.5vw;
}

.productdetail .other-products .item-slider .hot-item-list li .overlay {
  height: 7.8vw;
}

.productdetail .other-products .item-slider .prev, .productdetail .other-products .item-slider .next {
  background-image: url("/img/icons.png");
  cursor: pointer;
  width: 3.5vw;
  height: 3.5vw;
  margin-top: 5.2%;
  margin-left: 1%;
}

.productdetail .other-products .item-slider .prev {
  background-position: 0% 0%;
  background-size: 1097% 717%;
}

.productdetail .other-products .item-slider .next {
  margin-left: 72%;
  background-position: 10% 0%;
  background-size: 1097% 717%;
}

.productdetail .link {
  margin-top: -1.8%;
}

.productdetail .link:last-of-type {
  margin-top: 1%;
  margin-bottom: 1.5%;
}

.spec {
  border: 1px solid #717171;
  padding-left: 3%;
}

.spec h2 {
  margin: 2% 0% 1% 0%;
  font-size: 1.6vw;
  font-weight: normal;
}

.spec h3 {
  font-size: 1.3vw;
  font-weight: lighter;
  margin: 1% 0%;
}

.spec li, .spec p {
  font-size: 0.9vw;
}

.spec ul {
  padding-left: 3%;
  margin: 0% 0% 2% 0%;
}

.spec li {
  text-align: left;
  list-style: none;
  margin-right: 5%;
}

.spec p {
  margin-left: 3%;
}

.bannerimg {
  height: 36.6vw;
}

.about nav a {
  width: 6%;
}

.about .kowloon {
  width: 60%;
  margin-right: 10%;
}

.about .kowloon p {
  font-size: 0.9vw;
}

.about .contact {
  padding-left: 2%;
  margin-top: 3%;
  width: 26%;
  border-left: 1px solid #616161;
  border-bottom: 1px solid #616161;
}

.about .contact h2 {
  margin: 0px 0px 1% 0px;
}

.about .contact ul {
  margin-top: 3%;
  padding-left: 5%;
}

.about .contact ul li {
  font-size: 0.9vw;
}

.about .message label, .about .message input {
  font-size: 1.2vw;
  margin-bottom: 1%;
}

.about .message input, .about .message textarea {
  padding: 10px;
  border: 1px solid #9a9a9a;
  margin-bottom: 25px;
}

.about .message textarea {
  font-size: 1.2vw;
  width: 65%;
}

.about .message .formsubmit {
  border: 0px;
  padding: 10px 10% 10px 10%;
  font-weight: bold;
  background-color: #ff6f9e;
}

.about .FAQ button {
  font-size: 1.3vw;
}

.searchpage, .FAQ-page {
  width: 95.3%;
  background-color: rgba(237, 237, 237, 0.93);
  margin-left: -95.3%;
  z-index: 50;
}

.searchpage .advancedFilter {
  width: 85%;
  margin-left: 10%;
}

.searchpage .advancedFilter .filter {
  font-size: 2.3vw;
  margin: 2% 0% 3% 0%;
  color: #2b2b2b;
}

.searchpage .advancedFilter h3 {
  margin-top: 0px;
  font-size: 1.3vw;
  color: #2b2b2b;
}

.searchpage .advancedFilter .filterdiv {
  margin: 0px;
  max-height: 20vw;
}

.searchpage .advancedFilter .filterdiv .checkboxlist {
  margin-left: 5%;
  width: 32vw;
}

.searchpage .advancedFilter .filterdiv .pricefilter {
  margin-left: 10%;
  width: 38%;
}

.searchpage .advancedFilter .filterdiv .pricefilter .slider {
  width: 94%;
  margin-bottom: 5%;
}

.searchpage .advancedFilter .filterdiv .pricefilter .slider #slider2 .ui-slider-handle {
  background-color: black;
  top: -100%;
}

.searchpage .advancedFilter .filterdiv .pricefilter .slider #slider2 .ui-widget-content {
  top: -14%;
}

.searchpage .advancedFilter .filterdiv .pricefilter .slider #slider2 .ui-slider-range {
  top: -9%;
}

.searchpage .advancedFilter .filterdiv .pricefilter .dash {
  padding: 1vw 3vw 0vw 3vw;
}

.escbar {
  height: 9%;
  width: 5%;
}

.escbar a {
  background-image: url("/img/icons.png");
  width: 100%;
  height: 61%;
  background-position: 91% 0%;
  background-size: 1307% 611%;
}

.searchdiv {
  margin: 10% 0% 0% 10%;
  width: 69.4vw;
}

.searchdiv label {
  background-image: url("/img/icons.png");
  height: 3vw;
  width: 3vw;
  background-position: 57% -2%;
  background-size: 1117% 621%;
}

.searchdiv input {
  padding: 0px 1px 1% 4vw;
  color: #e27500;
  border: none;
  font-size: 3vw;
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 2px solid black;
}

.searchdiv input::-webkit-input-placeholder {
  color: #e27500;
}

.searchdiv input:-moz-placeholder {
  /* Firefox 18- */
  color: #e27500;
}

.searchdiv input::-moz-placeholder {
  /* Firefox 19+ */
  color: #e27500;
}

.searchdiv input:-ms-input-placeholder {
  color: #e27500;
}

.searchdiv input:focus {
  outline: none;
}

.searchdiv .icon-enter {
  background-image: url("/img/icons.png");
  height: 3vw;
  width: 3vw;
  background-position: 69% -2%;
  background-size: 1117% 621%;
  margin-top: -4%;
  margin-left: 39%;
}

.resultword {
  margin-top: 1%;
  margin-left: 10%;
  width: 78%;
}

.resultword a {
  float: right;
  text-decoration: none;
  margin-top: 1%;
  cursor: pointer;
}

.resultword a .cross {
  width: 2vw;
  height: 2vw;
  background-size: 857% 551%;
  background-position: 80.5% -3%;
  background-image: url("/img/icons.png");
  margin-top: -10%;
}

.results .result-item {
  height: 10vw;
  width: 78%;
  background-color: white;
  margin-left: 10%;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1%;
}

.FAQ-page h1 {
  color: #e27500;
  margin-left: 10%;
  margin-top: 17%;
}

.FAQ-page .searchdiv {
  margin-top: 3%;
}

.FAQ-page .searchdiv input::-webkit-input-placeholder {
  color: #535353;
}

.FAQ-page .searchdiv input:-moz-placeholder {
  /* Firefox 18- */
  color: #535353;
}

.FAQ-page .searchdiv input::-moz-placeholder {
  /* Firefox 19+ */
  color: #535353;
}

.FAQ-page .searchdiv input:-ms-input-placeholder {
  color: #535353;
}

.FAQ-page .searchdiv .icon-enter {
  margin-left: 33%;
}

.FAQ-page .CS-page {
  text-decoration: underline;
}

.FAQ-page .results .result-item h2 {
  margin-left: 2%;
  padding-top: 2%;
}

.FAQ-page .results .result-item p {
  margin-left: 3%;
  margin-right: 3%;
}

.cookie {
  background-color: rgba(86, 86, 86, 0.85);
  margin-left: -100%;
  width: 100%;
  z-index: 50;
}

.cookie .dogbone {
  background-image: url("/img/icons.png");
  background-position: 29% 18%;
  background-size: 479% 499%;
  height: 9vw;
  width: 14vw;
  margin-left: 28%;
  margin-top: 13%;
}

.cookie .popup-cookie {
  background-color: #f7eade;
  width: 20%;
  margin: auto;
  padding: 6% 6% 3% 6%;
  margin-top: 15%;
}

.cookie .popup-cookie .escbut {
  width: 2vw;
  height: 2vw;
  background-image: url("/img/icons.png");
  background-position: 0% 19%;
  background-size: 927% 611%;
  margin-top: -24%;
  margin-right: -25%;
  cursor: pointer;
}

.cookie .popup-cookie h1 {
  color: #e27500;
  margin-top: 3%;
}

.cookie .popup-cookie p {
  margin-top: 3%;
  font-size: 0.9vw;
  line-height: 140%;
}

.cookie .popup-cookie button {
  background-color: #e27500;
  border: 0px;
  width: 100%;
  padding: 6%;
  font-size: 1.5vw;
  font-weight: bold;
  margin-top: 8%;
  cursor: pointer;
}

@media (min-width: 415px) and (max-width: 1025px) {
  .main {
    width: 93%;
  }
  .sidebar {
    width: 7%;
  }
  .sidebar li {
    height: 6vw;
  }
  .full-sidebar {
    width: 32%;
    margin-left: -2%;
  }
  .full-sidebar .sidebar {
    width: 32vw;
    margin-left: 6%;
  }
  .full-sidebar .sidebar:last-child i {
    width: 22%;
  }
  .tablet-only {
    display: block;
  }
  .no-tablet {
    display: none !important;
  }
  .no-desktop {
    display: block;
  }
  html #body p, html #body input, html #body li {
    font-size: 1.9vw;
  }
  html #body h1 {
    font-size: 4vw;
  }
  html #body h2 {
    font-size: 3.7vw;
  }
  html #body h4, html #body button {
    font-size: 2.2vw;
  }
  html #body label, html #body a {
    font-size: 2.3vw;
  }
  html #body h3 {
    font-size: 2.7vw;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  .container .imgoverlay {
    margin-left: 29%;
    width: 34.6%;
  }
  .content {
    padding: 42px 4.5% 7.5% 6.5%;
    width: 89%;
  }
  .content .text p {
    text-align: center;
    font-size: 1.5vw;
    line-height: 2.5vw;
  }
  .content .catergory-content a {
    height: 80%;
    background-size: 600%;
  }
  .content .catergory-content a p {
    font-size: 1.5vw;
  }
  .content .hot-item-list {
    height: 21vw;
  }
  .content .hot-item-list li {
    width: 26.1vw;
    margin-right: 1%;
  }
  .content .hot-item-list li .img-overflow {
    height: 17vw;
  }
  .content .hot-item-list li .overlay {
    margin-top: -66.4%;
    height: 12.2vw;
  }
  .content .hot-item-list li .corner {
    height: 21vw;
    margin-left: 12%;
  }
  .content .hot-item-list li .corner .corner2 {
    margin-top: 1.5%;
  }
  .content .hot-item-list li .stack {
    height: 19.2vw;
    width: 24.7vw;
    margin-top: -75.2%;
  }
  .content .hot-item-list li .stack .img-overflow {
    height: 81%;
  }
  .content .hot-item-list li .stack p {
    font-size: 1.9vw;
    margin-top: 1%;
  }
  .content .newsletter {
    height: 19vw;
  }
  .content .newsletter .news-img {
    width: 44%;
  }
  .content .newsletter .news-img h2 {
    width: 100%;
    margin-top: 11.8%;
    font-size: 3.7vw;
  }
  .content .newsletter .news-img h4 {
    margin-top: 8%;
    font-size: 2.2vw;
  }
  .content .newsletter .news-form {
    width: 52%;
  }
  .content .newsletter .news-form p {
    margin-top: 3%;
    margin-bottom: 4%;
  }
  .content .newsletter .news-form h3 {
    margin-top: 6%;
  }
  .content .dog-content {
    background-position: 59% 68%;
  }
  .content .cat-content {
    background-position: 78% 68%;
  }
  .content .fish-content {
    background-position: 39% 68%;
  }
  .content .bird-content {
    background-position: 98% 68%;
  }
  .content .rat-content {
    background-position: 19% 68%;
  }
  .content .other-content {
    background-position: 118% 68%;
  }
  .hot-items h1 {
    font-size: 3.9vw;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  .cookie .dogbone {
    height: 14vw;
    width: 21vw;
    margin-left: 20%;
    margin-top: 12%;
    background-position: 34% 19%;
  }
  .cookie .popup-cookie {
    width: 37%;
    padding: 6% 7% 4% 7%;
  }
  .cookie .popup-cookie .escbut {
    width: 3vw;
    height: 3vw;
    margin-top: -10%;
    margin-right: -12%;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  .searchpage, .FAQ-page {
    width: 93.3%;
    margin-left: -93.3%;
  }
  .searchpage .escbar, .FAQ-page .escbar {
    width: 6%;
  }
  #body .searchpage h3 {
    font-size: 2.6vw;
  }
  #body .searchpage .filter {
    font-size: 4vw;
  }
  #body .searchpage .advancedFilter {
    width: 84%;
  }
  #body .searchpage .filterdiv {
    max-height: 27vw;
  }
  #body .searchpage .filterdiv .checkboxlist {
    width: 70vw;
  }
  #body .searchpage .filterdiv .checkboxlist .checkbox {
    margin-right: 4%;
  }
  #body .searchpage .filterdiv .checkboxlist label:before {
    height: 2vw;
    width: 2.2vw;
  }
  #body .pricefilter {
    margin-left: 5%;
    width: 70%;
  }
  #body .pricefilter .price-input input {
    width: 15vw;
    height: 5vw;
    margin-top: -2%;
  }
  #body .pricefilter .price-input span {
    font-size: 2.1vw;
    margin-top: 1.2%;
  }
  #body .pricefilter .dash {
    padding: 1vw 6vw 0vw 6vw;
  }
  #body .searchdiv label {
    height: 5vw;
    width: 5vw;
  }
  #body .searchdiv #itemsearch, #body .searchdiv #itemsearch2 {
    font-weight: lighter;
    font-size: 3.8vw;
    padding: 0 0% 5% 6vw;
    width: 97%;
  }
  #body .searchdiv .icon-enter {
    height: 6vw;
    width: 6vw;
    margin-top: -8.5%;
    margin-left: 45.5%;
  }
  #body .resultword .cross {
    width: 5vw;
    height: 5vw;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  #body .FAQ-page h1 {
    font-size: 5vw;
    margin-top: 8%;
  }
  #body .FAQ-page .icon-enter {
    margin-left: 42%;
  }
  #body .FAQ-page #itemsearch {
    padding: 0 0% 5% 8vw;
    width: 94%;
  }
  #body .FAQ-page .result-item {
    height: inherit;
    display: inline-block;
  }
  #body .FAQ-page .result-item h2 {
    font-size: 3vw;
    margin: 0% 3% 0% 3%;
  }
  #body .FAQ-page .result-item p {
    margin-top: 1%;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  #body nav img {
    width: 3.7%;
  }
  #body nav .triangle {
    border-top: 1.7vw solid transparent;
    border-right: 1.7vw solid #323232;
    border-bottom: 1.7vw solid transparent;
  }
  #body nav a .circle {
    width: 1.2vw;
    height: 1.2vw;
  }
  #body nav a:first-of-type {
    width: 10.2%;
  }
  #body .productview h2 {
    font-size: 2.5vw;
    margin: 1% 0;
  }
  #body .productview .filterdiv {
    max-height: 40vw;
  }
  #body .productview .filterdiv .slider {
    width: 92%;
    margin: 4% 0;
  }
  #body .productview .filterdiv .dash {
    margin-top: 0.7%;
  }
  #body .productview .filterdiv .price-input {
    margin-bottom: 3%;
  }
  #body .productview .checkboxlist:first-of-type label:before {
    margin-top: 0px;
  }
  #body .productview .checkboxlist label:before {
    margin: 5.5% 0.8vw 0px 0;
  }
  #body .productview .select select {
    width: 50%;
    height: 3.3vw;
    font-size: 1.8vw;
    -webkit-tap-highlight-color: transparent;
  }
  #body .productview .select ul {
    width: 20.6vw;
    height: 16vw;
  }
  #body .productview .select ul a {
    font-size: 2vw;
    height: 50%;
    padding: 6% 13% 10% 12%;
  }
  #body .productview .hot-item-list {
    width: 100%;
  }
  #body .productview .hot-item-list li {
    margin-right: 0.5vw;
  }
  #body .productview .hot-item-list .overlay {
    margin-top: -67.4%;
    height: 12.5vw;
  }
  #body .productview #result_wrapper {
    width: 82vw;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  #body .item-colors a {
    width: 2vw;
    height: 2vw;
  }
  #body .productdetail h2 {
    font-size: 2.7vw;
    font-weight: lighter;
  }
  #body .productdetail h1 {
    font-size: 3vw;
  }
  #body .productdetail nav {
    margin-bottom: 8%;
  }
  #body .productdetail .product {
    display: inline-block;
    height: 100%;
  }
  #body .productdetail .imgview {
    height: 39.3vw;
    width: 100%;
  }
  #body .productdetail .imgview .bigtile {
    height: 37.5vw;
    width: 75%;
  }
  #body .productdetail .imgview .bigtile .plus-icon {
    margin-left: 61.5%;
    width: 5vw;
    height: 5vw;
  }
  #body .productdetail .smalltile {
    width: 21%;
  }
  #body .productdetail .smalltile .img-overflow {
    height: 9.3vw;
  }
  #body .productdetail .smalltile .img-overflow img {
    margin-top: -28%;
    height: 19vw;
  }
  #body .productdetail .smalltile .tile-overlay {
    width: 18.7%;
    margin: 0.7%;
    height: 9.3vw;
  }
  #body .productdetail .product-info {
    height: 30vw;
    width: 100%;
  }
  #body .productdetail .product-info .left-tablet, #body .productdetail .product-info .right-tablet {
    width: 50%;
  }
  #body .productdetail .product-info h3, #body .productdetail .product-info p, #body .productdetail .product-info .left-tablet, #body .productdetail .product-info .right-tablet {
    float: left;
  }
  #body .productdetail .product-info .right-tablet {
    text-align: right;
  }
  #body .productdetail .product-info .right-tablet h3 {
    text-align: right;
  }
  #body .productdetail .product-info .right-tablet .item-colors a {
    float: right;
  }
  #body .productdetail .product-info h3 {
    margin: 2% 0% 0% 0%;
  }
  #body .productdetail .product-info h3, #body .productdetail .product-info p {
    width: 100%;
  }
  #body .productdetail .product-info p {
    margin-bottom: 2%;
  }
  #body .productdetail .hot-item-list li {
    margin-right: 0.5vw;
  }
  #body .productdetail button:after {
    right: 6vw;
  }
  #body .productdetail button.point-right:after {
    right: 5.4vw;
  }
}

@media (min-width: 415px) and (max-width: 1025px) {
  #body .about h2 {
    font-size: 3vw;
  }
  #body .about nav a {
    width: 11.2%;
  }
  #body .about .message textarea {
    width: 95%;
  }
  #body .about .message label {
    margin-bottom: 1%;
  }
  #body .about .message .formsubmit {
    padding: 10px 12% 10px 12%;
  }
  #body .about .contact li {
    font-size: 2vw;
  }
}

@media (max-width: 415px) {
  #body .no-mobile {
    display: none;
  }
  #body .no-desktop {
    display: block;
  }
  #body .mobile-only {
    display: block;
  }
  #body p, #body li {
    font-size: 3vw;
  }
  #body a, #body h4, #body input, #body label {
    font-size: 4vw;
  }
  #body h3, #body button, #body select {
    font-size: 5vw;
  }
  #body h1, #body h2 {
    font-size: 6vw;
  }
  #body .full-sidebar {
    width: 60%;
  }
  #body .full-sidebar .sidebar {
    width: 60vw;
    margin-left: 100%;
  }
  #body .sidebar li {
    height: 14vw;
  }
  #body .sidebar li p {
    font-size: 5vw;
  }
  #body .sidebar li.line {
    height: 2%;
  }
}

@media (max-width: 415px) {
  #body .main {
    width: 100%;
  }
  #body .slidesjs-pagination {
    display: none;
  }
  #body .imgoverlay {
    margin-left: 21%;
    width: 56.6%;
    margin-top: 15%;
  }
  #body .slidesjs-container {
    height: 46.6vw !important;
  }
  #body .slidesjs-control {
    height: 46.6vw !important;
  }
  #body .slidesjs-control img {
    height: 100%;
  }
  #body .container {
    height: 46.6vw;
  }
  #body .content {
    padding: 12px 3.5% 7.5% 3.5%;
    width: 93%;
  }
  #body .content .text {
    margin: 0px;
  }
  #body .content .text P {
    line-height: 3.5vw;
  }
  #body .content .catergory-content {
    height: 100%;
    display: inline-block;
    padding-bottom: 15%;
  }
  #body .content .catergory-content li {
    display: inline-block;
    width: 50%;
    height: 30vw;
  }
  #body .content .catergory-content li a {
    height: 25vw;
  }
  #body .content .catergory-content li a p {
    font-size: 5vw;
    padding-top: 40%;
  }
  #body .content .catergory-content li .cathegory-line {
    margin-top: 6%;
    height: 13%;
  }
  #body .content .hot-items {
    overflow: hidden;
  }
  #body .content .hot-mobile {
    height: 25vw;
    width: 150%;
    background-color: #565656;
  }
  #body .content .hot-mobile li {
    width: 27vw;
    background-color: transparent;
    border: 0;
    margin-right: 1.5%;
  }
  #body .content .hot-mobile li .img-overflow {
    height: 21vw;
    margin: 7.5%;
  }
  #body .content .link {
    float: left;
  }
  #body .newsletter {
    height: 82vw;
  }
  #body .newsletter .news-img {
    width: 100%;
    height: 33vw;
  }
  #body .newsletter .news-img h2 {
    font-size: 8vw;
    width: 100%;
  }
  #body .newsletter .news-form {
    height: 45vw;
    width: 97%;
  }
  #body .dog-content {
    background-position: 60% 70%;
  }
  #body .cat-content {
    background-position: 81% 70%;
  }
  #body .fish-content {
    background-position: 37% 70%;
  }
  #body .bird-content {
    background-position: 103% 70%;
  }
  #body .rat-content {
    background-position: 16% 70%;
  }
  #body .other-content {
    background-position: 126% 71%;
  }
}

@media (max-width: 415px) {
  #body .productview h1 {
    margin: 8% 0px;
  }
  #body .productview h2 {
    margin: 4% 0px;
  }
  #body .productview .filter {
    margin: 6% 0px;
  }
  #body nav img {
    width: 5%;
  }
  #body nav a:first-of-type {
    width: 14.2%;
  }
  #body nav a {
    padding-right: 2%;
  }
  #body nav .circle {
    height: 1.7vw;
    width: 1.7vw;
    margin-top: 10.5%;
  }
  #body nav .triangle {
    border-top: 2.8vw solid transparent;
    border-right: 2.8vw solid #323232;
    border-bottom: 2.8vw solid transparent;
  }
  #body button {
    padding-left: 0px;
  }
  #body .filterdiv {
    max-height: 95vw;
    width: 100%;
    margin-left: 0px;
  }
  #body .filterdiv h2 {
    font-size: 4vw;
  }
  #body .filterdiv .checkbox {
    width: 48%;
    margin-bottom: 7%;
  }
  #body .filterdiv .checkbox label:before {
    border: 1px solid #9a9a9a;
    height: 4vw;
    width: 4.5vw;
    font-size: 2.8vw;
  }
  #body .filterdiv .slider {
    width: 93%;
    margin-bottom: 10%;
  }
  #body .filterdiv .slider .ui-slider-horizontal {
    height: 6vw;
  }
  #body .filterdiv .slider .ui-slider-handle {
    height: 5vw;
    width: 5vw;
  }
  #body .filterdiv .price-input span {
    font-size: 5.1vw;
    margin-top: 2.5%;
    margin-left: 2%;
  }
  #body .filterdiv .price-input input {
    width: 23vw;
    height: 11vw;
    padding-left: 12vw;
    margin-bottom: 10%;
  }
  #body .filterdiv .dash {
    padding: 3vw 8vw;
  }
  #body .items .select {
    margin: 5% 0px;
    width: 100%;
  }
  #body .items .select .price-filter-select {
    width: 100%;
    height: 10.3vw;
  }
  #body .price-filter {
    width: 88.5vw;
  }
  #body .productview .hot-item-list {
    width: 100%;
    display: inline-block;
    height: 100%;
  }
  #body .productview .hot-item-list li {
    height: 75vw;
    width: 100%;
  }
  #body .productview .hot-item-list li .img-overflow {
    height: 62vw;
  }
  #body .productview .hot-item-list li .overlay {
    height: 46vw;
    margin-top: -68.5%;
  }
  #body .productview .hot-item-list li .overlay .product-icon {
    height: 30vw;
    width: 40vw;
  }
  #body .productview .hot-item-list li p {
    font-size: 5vw;
  }
  #body .productview .hot-item-list li .corner {
    height: 75vw;
    border-top: 1.5vw solid #cfcfcf;
    border-right: 1.5vw solid #cfcfcf;
  }
  #body .productview .hot-item-list li .corner .corner2 {
    height: 97.5%;
    border-top: 1.5vw solid #818181;
    border-right: 1.5vw solid #818181;
    margin-top: 0.8%;
    margin-left: -6.5%;
  }
  #body .productview .hot-item-list li .stack {
    height: 72vw;
    margin-top: -77.5%;
    width: 88vw;
  }
  #body .productview .hot-item-list li .stack .stack-icon {
    width: 11vw;
    height: 11vw;
    margin-left: 1.5%;
    margin-top: 1.5%;
  }
  #body .productview .hot-item-list li .stack .overlay {
    height: 46vw;
    margin-top: -72.2%;
  }
  #body .productview .hot-item-list #result_wrapper {
    width: 89vw;
  }
}

@media (max-width: 415px) {
  #body .productdetail h1 {
    display: inline-block;
    margin-top: 14%;
  }
  #body .productdetail .logo {
    width: 57%;
    margin-left: 20%;
    margin-top: 5%;
  }
  #body .productdetail .link:last-of-type {
    text-align: center;
    width: 80%;
    margin: 10%;
  }
  #body .productdetail .question {
    width: 93%;
  }
  #body .item-colors a {
    height: 4vw;
    width: 4vw;
  }
  #body .left-tablet h1 {
    width: 100%;
    margin-top: 5%;
  }
  #body .left-tablet h2 {
    margin-top: 1%;
    font-weight: lighter;
    font-size: 5vw;
  }
  #body .product {
    height: 100%;
  }
  #body .product .imgview {
    width: 100%;
  }
  #body .product .imgview .bigtile {
    height: 63.5vw;
  }
  #body .product .imgview .bigtile .plus-icon {
    margin-left: 82.9%;
    width: 8vw;
    height: 8vw;
  }
  #body .product .imgview .smalltile .img-overflow {
    height: 14.3vw;
  }
  #body .product .imgview .smalltile .img-overflow img {
    margin-top: -32%;
    height: 29vw;
  }
  #body .product .imgview .smalltile .active {
    height: 13.3vw;
    margin-bottom: 2%;
  }
  #body .product .imgview .smalltile .tile-overlay {
    width: 29%;
    margin: 1%;
    height: 14.6vw;
  }
  #body .product .product-info {
    width: 100%;
  }
  #body .product .product-info h3 {
    margin-top: 5%;
  }
  #body .product .product-info .square, #body .product .product-info .circle {
    height: 8.5vw;
    width: 8.5vw;
    margin-bottom: 3%;
  }
  #body .product .product-info .triangle:before, #body .product .product-info .triangle:after {
    margin-top: -6.8%;
    border-width: 7.7vw 4.4vw;
  }
  #body .product .product-info .triangle:before {
    border-width: 8vw 4.7vw;
    margin-top: -7.6%;
    margin-left: -0.2%;
  }
  #body .spec h2 {
    margin-bottom: 2%;
  }
  #body .spec h3 {
    font-size: 4vw;
    margin-bottom: 2%;
  }
  #body .spec li {
    width: 100%;
    margin-bottom: 1%;
  }
  #body .hot-item-list {
    height: 19vw;
  }
  #body .hot-item-list li {
    width: 24vw;
  }
  #body .hot-item-list li .img-overflow {
    height: 18.5vw;
  }
  #body .hot-item-list li .overlay {
    height: 13.8vw;
    margin-top: -79%;
  }
  #body .FAQ h1 {
    margin-bottom: 5%;
  }
  #body .FAQ .question {
    padding-left: 5%;
    width: 94%;
    margin-bottom: 3%;
  }
  #body .FAQ .question button {
    padding: 3% 0px;
  }
  #body .FAQ .question button:after {
    margin-top: -4.5%;
    right: 6vw;
    border-width: 2vw 1.8vw;
  }
  #body .FAQ .question button.point-right:after {
    border-width: 1.8vw 2vw;
    right: 5.4vw;
    margin-top: -5%;
  }
  #body .FAQ .question p {
    margin-top: 3%;
  }
}

@media (max-width: 415px) {
  #body .about nav img {
    width: 6%;
  }
  #body .about nav a {
    width: 19%;
  }
  #body h2 {
    font-size: 5vw;
  }
  #body .kowloon {
    width: 90%;
  }
  #body .contact {
    width: 95%;
  }
  #body .message textarea, #body .message input {
    width: 95%;
  }
  #body .message input:last-child {
    width: 100%;
  }
  #body .message h2 {
    margin: 8% 0px;
  }
  #body .message label {
    margin-bottom: 3%;
  }
}

@media (max-width: 415px) {
  #body .searchpage, #body .FAQ-page {
    width: 100%;
    margin-left: -100%;
  }
  #body .searchpage .advancedFilter {
    width: 75%;
  }
  #body .searchpage .advancedFilter .filterdiv .checkboxlist, #body .searchpage .advancedFilter .filterdiv .pricefilter {
    width: 100%;
  }
  #body .searchpage .advancedFilter .filterdiv .pricefilter {
    margin-left: 0%;
  }
  #body .searchpage .advancedFilter .filterdiv .slider {
    width: 93%;
  }
  #body .searchpage .advancedFilter .filterdiv .price-input input {
    width: 14vw;
    margin-bottom: 20%;
  }
  #body .escbar {
    width: 15%;
    height: 4%;
  }
  #body .escbar a {
    background-position: 91% 2%;
    background-size: 1307% 1041%;
  }
  #body .searchdiv {
    margin-top: -1%;
  }
  #body .searchdiv label {
    width: 4vw;
    height: 4vw;
  }
  #body .searchdiv #itemsearch, #body .searchdiv #itemsearch2 {
    font-size: 4vw;
  }
  #body .searchdiv .icon-enter {
    margin-top: -4.5%;
    margin-left: 50%;
    height: 4vw;
    width: 4vw;
    background-position: 69% -1.2%;
    background-size: 837% 491%;
  }
  #body .resultword .cross {
    width: 7vw;
    height: 7vw;
  }
}

@media (max-width: 415px) {
  #body h1 {
    margin-bottom: 5%;
  }
  #body .FAQ-page .results {
    margin-top: 10%;
  }
  #body .FAQ-page .results .result-item {
    display: inline-block;
    height: 100%;
  }
  #body .searchdiv .icon-enter {
    margin-left: 42%;
  }
}

@media (max-width: 415px) {
  #body .dogbone {
    display: none;
  }
  #body .popup-cookie {
    width: 90%;
    padding: 5% 4% 3% 5%;
    margin-top: 0px;
  }
  #body .popup-cookie h1 {
    font-size: 10vw;
  }
  #body .popup-cookie p {
    font-size: 4vw;
  }
  #body .popup-cookie button {
    margin-top: 1%;
  }
  #body .escbut {
    width: 10vw;
    height: 10vw;
    margin-top: -4%;
    margin-right: -1%;
  }
}

/*# sourceMappingURL=main.css.map */
