@charset 'utf-8';
//Testdata///
// $testcolor : rgb(228, 10, 10);
// $total: 3;
// $step: 360deg / $total;
// div{
//   background-color: $testcolor;
// }
// @for $i from 1 through $total {
//   div:nth-child(#{$i}) {
//     background: adjust-hue(blue, $i * $step);
//    }
// }

/////////fonts ////////
@font-face {
  font-family: ChoplinLight;
  src: url("/fonts/3290D7_0_0.eot") format("eot"),
  url("/fonts/3290D7_0_0.ttf") format("ttf"),
  url("/fonts/3290D7_0_0.woff") format("woff"),
  url("/fonts/3290D7_0_0.woff2") format("woff2");
}
@font-face {
  font-family: ChoplinMedium;
  src: url("/fonts/3290DE_0_0.eot") format("eot"),
  url("/fonts/3290DE_0_0.ttf") format("ttf"),
  url("/fonts/3290DE_0_0.woff") format("woff"),
  url("/fonts/3290DE_0_0.woff2") format("woff2");
}
///////// variables //////////


//Media queries
$tablet-width:1025px;
$phone-width: 415px;

//divs
$sidebar-width: 4.694419840566874%;
$extra-sidebar-width: 17.116917626217894%;
$header-height: 36.6vw;
$main-width: 95.30558015943313%;


//colors
$sidebar-backgroundcolor: #323232;
$sidebar-textcolor-grey: #9f9f9f;
$content-backgroundcolor: #454545;
$content-textcolor: #cecece;
$cathegory-border-color: #616161;
$hot-item-tile-color: #565656;
$hot-item-tile-border-color: #717171;
$newsletter-form-color: #5f5f5f;
$newsletter-input-border-color: #9a9a9a;
$img-stack1: #818181;
$img-stack2: #cfcfcf;
$breadpointers-bg: #323232;
$breadpointers-text: #cecece;
$ddl-hover-color: #e9e9e9;
$advancedFilter-font: #2b2b2b;
$searchbarcolor: #e27500;
$searchbackground: rgba(237,237,237,0.93);
$FAQ-searchbarcolor: #535353;
$obligatory-icon:#adadad;
$cookie-bg-color:#f7eade;
$cookie-overlay-color:rgba(86, 86, 86, 0.85);

//item-colors
$item-color-1: #2d4aac;
$item-color-2: #282828;

$dog-color: #ff6f9e;


//img
$header-img: url("/img/hond.png");
$kowloons: url("/img/kowloons.png");
// $menu-sprite-img: url("/img/menu-sprite.png");
// $homepage-sprite-img: url("/img/homepagesprite.png");
// $menu-burger-position: 100%;
// $menu-search-position: 14.28%;
// $menu-ask-position: 0%;
// $menu-dog-position: 28.57%;
// $menu-cat-position: 85.72%;
// $menu-fish-position: 57.12%;
// $menu-bird-position: 71.68%;
// $menu-rat-position: 42.84%;

$menu-k-grey-img:  url("/img/K-grey.png");
$menu-kowloon-grey-img: url("/img/Kowloon.png");
$newsletter-image: url("/img/add-bg.jpg");
$icons: url("/img/icons.png");

//groups
  $type-scale: (
  scale-2:0.8vw,
  p:0.9vw,
  scale0:1vw,
  scale1:1.1vw,
  scale2:1.2vw,
  scale3:1.3vw,
  scale4:1.4vw,
  scale5:1.5vw,
  scale6:1.6vw,
  scale8:1.8vw,
  scale23:2.3vw,
  scale29:2.9vw,
  scale30:3vw,
  scale31:3.1vw,
  );


$heights: (
sidebar-line: 0px,
cathegory-line: 9%,
cathegory-height:11vw,
hot-item:15vw,
hot-item-img: 80%,
newsletter:14vw,
);

$widths: (
sidebar-open-icon-width:27%,
sidebar-open-line-width:85%,
cathegory-list-width:16.5%,
cathegory-a-width: 99%,           // is voor left-border
cathegory-img-width:80%,
hot-items-list-width:18vw,
hot-item-img-width:96.6%,
bottom-img:80%,
hot-item-img: 97%,
hot-overlay-img: 33%,
hot-text:90%,
newsletter-img:63%,
newsletter-h2: 60%,
newsletter-form:33%,
newsletter-input:64%,
newsletter-button:15%,

);
///////////  mixin //////////////
@mixin margin($margin) { // top right bottom left
  margin: $margin;
}

///////////parameters//////////////
@import "parameters/parameters.scss";
/////////// features ///////////
.hidden{
  display: none !important;
}
.closed{
  max-height: 0px !important;
}
.no-desktop{
  display: none;
}
.no-mobile{
  display: block;
}
.mobile-only{
  display: none;
}
.tablet-only{
  display: none;
}
//////////// Divs layout ////////////////

html{
  font-family: Arial;
}
body{
  @extend %nomargin;
  @extend %fullwidth;
  display: flex;
  table-layout: fixed;
  // display: table; // x
}
*:focus {
    outline: 0;
}
.main{
  @extend %fullheight;
  width: $main-width;
// overflow: auto;
// display: table; //x
}
.main, .sidebar{
  display: table-cell;

}
.sidebar{
  // @extend %fullheight; //x
  // overflow: overlay; //x
}
h1,h2,h3,h4,p{
    @extend %alignleft;
}
h1{
  @extend %colorwhite;
  @extend %choplinmedium;
  font-size: map-get($type-scale, scale29);
  font-weight:lighter;
  margin-bottom: 1%;
}
.link{
  @extend %colorwhite;
  @extend %choplinmedium;
  @extend %floatright;
  margin-right: 1%;
  font-size: map-get($type-scale, scale3);
}
// .header{
//   @extend %relative;
//   @extend %floatleft;
//   @extend %fullbackground;
//   @extend %fullwidth;
//   height: $header-height;
//   background-image: $header-img;
// }
.content{
  @extend %relative;
  @extend %floatleft;
  @extend %inlineblock;
  background-color: $content-backgroundcolor;
  padding:42px 10.5% 7.5% 10.5%;
  width: 79%;
  height: 56.6%;
  & div{
    @extend %centertext;
    @extend %colorwhite;
  }
  .text p , .icons p{
    color: $content-textcolor;
  }
  .text p {
      @extend %centertext;
      line-height: 1.7vw;
  }
}
/////////// ul /////////////////
.sidebar ul, .catergory-content{
  @extend %nopadding;
  @extend %nomargin;
  @extend %nostyle-ul;
}

@import "sidebar/sidebar.scss";


/////////// Content ///////////
//////////text /////////
.text{
  @include margin(0px 10% 0px 10%);
  font-size: map-get($type-scale, scale0);
}

@import "Homepage/cathegory.scss";

@import "Homepage/hot-items.scss";

@import "Homepage/newsletter.scss";


@import "productview/header.scss";
@import "productview/items.scss";
@import "productdetail/product.scss";
@import "productdetail/FAQ.scss";
@import "productdetail/related.scss";
@import "productdetail/spec.scss";
@import "about/about.scss";
@import "search/filter.scss";
@import "search/searchbar.scss";
@import "FAQ-page/FAQ.scss";
@import "cookie/cookie.scss";

//tablet
@import "sidebar/tablet.scss";
@import "Homepage/tablet.scss";
@import "cookie/tablet.scss";
@import "search/tablet.scss";
@import "FAQ-page/tablet.scss";
@import "productview/tablet.scss";
@import "productdetail/tablet.scss";
@import "about/tablet.scss";

//mobile
@import "sidebar/mobile.scss";
@import "Homepage/mobile.scss";
@import "productview/mobile.scss";
@import "productdetail/mobile.scss";
@import "about/mobile.scss";
@import "search/mobile.scss";
@import "FAQ-page/mobile.scss";
@import "cookie/mobile.scss";
