//////// cathegory //////
.text p{
  @extend %centertext;
}
.catergory-content{
  @extend %fullwidth;
  @extend %inlineblock;
  height:  map-get($heights, cathegory-height);
  margin-top: 1%;
  li{
    @extend %floatleft;
    @extend %block;
    @extend %fullheight;
    width: map-get($widths, cathegory-list-width);
    a{
      @extend %fullwidth;
      @extend %fullheight;
      @extend %block;
      @extend %floatleft;
      background-image: $icons;
      height: 80%;
      background-size: 420%;
    }
    img{
      max-width: map-get($widths, cathegory-img-width);
    }
    p{
      @extend %centertext;
      @extend %colorwhite;
      @extend %floatleft;
      @extend %fullwidth;
      font-size: map-get($type-scale, scale4);
      font-family: ChoplinLight;
      text-align: center;
      padding-top: 50%;
      .small-text{
        @include margin(0px 20% 0px 20%);
      }
      &.other-text, &.small-p{
        font-size: map-get($type-scale, scale0);
      }
      &.other-text{
        margin-top: 12%;
      }
    }
    .cathegory-line{
      @extend %inlineblock;
      @extend %absolute;
      border-left: 1px solid $cathegory-border-color;
      margin-top: 2%;
      height: map-get($heights, cathegory-line);
    }

  }
}
.dog-content{
background-position: 60% 70%;
  &:hover{
    background-position: 60% 101.4%;
  }
}
.cat-content{
  background-position: 81% 70%;
  &:hover{
    background-position: 81% 101.4%;
  }
}
.fish-content{
  background-position: 37% 70%;

  &:hover{
    background-position: 37% 101.4%;
  }
}
.bird-content{
  background-position: 103% 70%;
  &:hover{
    background-position: 103% 101.4%;
  }
}
.rat-content{
  background-position: 16% 70%;
  &:hover{
    background-position: 16% 101.4%;
    background-repeat: no-repeat;
  }
}
.other-content{
  background-position: 126% 71%;
}
