
.FAQ{
  @extend %alignleft;
  .question{
    @extend %inlineblock;
    width: 97%;
    background-color: $hot-item-tile-border-color;
    padding: 1%;
    padding-bottom: 0px;
    margin-bottom: 1%;
    .filter{
      @extend %floatleft;
    }
    .filterdiv{
      @extend %inlineblock;

      margin: 0px 0px 0px 49px;
    }
  }
}
